.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  color: white;
  min-height: 6vh;
}

.App-link {
  color: #61dafb;
}

.Nav-wrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.Nav {
  display: flex;
  justify-content: flex-start;
  padding-right: 2vw;
  margin: 0;
}

.Logo-wrapper {
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  margin-left: 2vw;
  align-items: center;
}

ul {
  list-style: none;
}

.Image-gallery {
  display: flex;
  width: 100vw;
  max-height: 100vh;
}

.Gallery-list {
  margin: 0;
  padding: 0;
}

.responsive {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

ul {
  padding: 0;
}

a:hover {
  text-decoration: none;
}

#root {
  background-image: linear-gradient(120deg, #89f6feab 0%, #66a6ffd0 100%);
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#root > div {
  position: absolute;
  margin-top: 9px;
  width: 100%;
  will-change: transform;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  z-index: 1;
}

#root > div > div {
  background-color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 96vw;
  height: calc(90vh - 100px);
  will-change: transform;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.52); 
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.52);
}

#root > button {
  height: 60px !important;
  background-color: white !important;
  display: flex !important;
  position: absolute;
  bottom: 140px;
  border: none;
  margin-left: 5vw;
  width: 90vw;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.DeckButtonsWrapper {
  width: 100vw !important;
  height: 42vh !important;
  border: none !important;
  border-radius: none !important;
  background-color: transparent !important;
  display: flex;
  box-shadow: none !important;
  justify-content: center;
}

.DeckButtons {
  width: 25vw !important;
  height: 250px !important;
  background-color: transparent !important;
  border: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-box-wrapper {
  width: 100%;
  background: rgb(0, 0, 0);
  border-bottom:  1px solid black;
  /* height: 100%; */
}

.info-box {
  border-radius: 0;
  width: 100vw !important;
  padding: 18px;
  padding-bottom: 0;
  padding-top: 1px;
  margin-top: unset;
  bottom: 8vh;
  align-items: flex-end !important;
}

.button-box {
  border-radius: 0;
  width: 100vw !important;
  padding-right: 10vw;
  margin-top: unset;
  bottom: 5vh;
  align-items: flex-end !important;
}

.cta-wrapper {
  height: 82px;
  margin-top: 15px;
}

.tap-area {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.Title-display-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: -25px !important;
  z-index: 2 !important;
  height: 50px !important;
}

.Floor-plan {
  width: 100%;
  height: 59%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.Stats {
  display: flex;
  background-color: transparent !important;
  border-color: transparent !important;
}

.Bed-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Bath-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.Sqft-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.Beds {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.Baths {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.Sqft {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.Stats-h4 {
  font-size: 18px;
}

.Info-cta {
  width: 80%;
  height: 65px;
  bottom: 0;
}

.Description {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  flex-direction: column;
  height: 100%;
}

.Description-h5 {
  font-size: 15px;
}

.tag-wrapper {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: flex-end;
  /* max-height: 450px;
  height: 65vh; */
  overflow: scroll;
  width: 75vw !important;
  height: 100vh;
  overflow-y: scroll;
  transition: transform .3s;
  transition-timing-function: ease-in-out;
}

.homestyle-tag {
  width: 100% !important;
  padding: 17px;
  background-color: transparent !important;
  height: 1vh !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
  letter-spacing: -0.4px;
  box-shadow: none !important;
}

.tag {
  margin-bottom: 0;
}

.close-button {
  position: absolute;
  right: 10px;
}

.modal-inner-wrapper {
  height: 100%;
  width: 100vw;
  background: rgb(41,41,41);
  /* overflow-y: auto; */
}

.modal-wrapper {
  display: flex;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 44px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

@keyframes modal-wrapper-fade {
  from {opacity: 1;}
  to {opacity: 0;}
}

.modal-image {
  width: 100vw;
  height: 275px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 7px solid rgb(8, 8, 8);
}

button.view-button {
  width: unset;
  height: 10px;
  opacity: 0.5;
  font-size: 28px;
  border-radius: 50px;
  z-index: 10;
  border: none;
  color: white;
  padding-bottom: 8vh;
  background-color: transparent;
}

button.next-button {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: white;
  font-size: 26px;
  color: #3e3e3e;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.65);
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.65);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.65);
}

button.change-style-button {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: white;
  font-size: 26px;
  color: #3e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.65);
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.65);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.65);
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-bumper {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(41,41,41,0.8144215210355987) 29%, rgba(41,41,41,0) 54%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bumper-bottom {
  height: 25px;
  margin-bottom: 5vh;
}

button.like-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 40px;
}

button.small-like-button {
  width: unset;
  height: 10px;
  opacity: 0.5;
  font-size: 28px;
  border-radius: 50px;
  z-index: 10;
  border: none;
  color: white;
  padding-bottom: 6vh;
  background-color: transparent;
}

.like-view-button-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trails-text {
  position: relative;
  width: 100%;
  height: 90px;
  line-height: 80px;
  color: black;
  font-size: 5em;
  font-weight: 800;
  letter-spacing: -1px;
  will-change: transform, opacity;
  overflow: hidden;
}