.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  color: white;
  min-height: 6vh;
}

.App-link {
  color: #61dafb;
}

.Nav-wrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.Nav {
  display: flex;
  justify-content: flex-start;
  padding-right: 2vw;
  margin: 0;
}

.Logo-wrapper {
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  margin-left: 2vw;
}

ul {
  list-style: none;
}

.Image-gallery {
  display: flex;
  width: 100vw;
  max-height: 100vh;
}

.Gallery-list {
  margin: 0;
  padding: 0;
}

.responsive {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

ul {
  padding: 0;
}

a:hover {
  text-decoration: none;
}

#root {
  background: lightblue;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#root > div {
  position: absolute;
  width: 96vw;
  margin-top: 35vh;
  margin-left: 2vw;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#root > div > div {
  background-color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  width: 100vw;
  max-width: 420px;
  height: 50vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 33px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
