.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  color: white;
  min-height: 6vh;
}

.App-link {
  color: #61dafb;
}

.Nav-wrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.Nav {
  display: flex;
  justify-content: flex-start;
  padding-right: 2vw;
  margin: 0;
}

.Logo-wrapper {
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  margin-left: 2vw;
  align-items: center;
}

ul {
  list-style: none;
}

.Image-gallery {
  display: flex;
  width: 100vw;
  max-height: 100vh;
}

.Gallery-list {
  margin: 0;
  padding: 0;
}

.responsive {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

ul {
  padding: 0;
}

a:hover {
  text-decoration: none;
}

#root {
  background: #8e8e8e;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#root > div {
  position: absolute;
  margin-top: 0px;
  width: 100%;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#root > div > div {
  background-color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 96vw;
  height: calc(90vh - 100px);
  will-change: transform;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.52); 
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.52);
}

#root > button {
  width: 30vw !important;
  height: 60px !important;
  margin-left: 35vw;
  background-color: white !important;
  display: flex !important;
  position: absolute;
  bottom: 120px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.DeckButtonsWrapper {
  width: 100vw !important;
  height: 42vh !important;
  border: none !important;
  border-radius: none !important;
  background-color: transparent !important;
  display: flex;
  box-shadow: none !important;
  justify-content: center;
}

.DeckButtons {
  width: 25vw !important;
  height: 250px !important;
  background-color: transparent !important;
  border: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-box {
  border-radius: 0;
  position: absolute !important;
  max-height: 75px;
  width: 45vw !important;
  background-color: white;
  left: 25%;
  padding: 18px;
  margin-top: unset;
  bottom: 8vh;
}

.tap-area {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.Title-display-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: -25px !important;
  z-index: 2 !important;
  height: 50px !important;
}

.Floor-plan {
  width: 100%;
  height: 59%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.Stats {
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
  margin-left: auto;
  background-color: transparent !important;
  border-color: transparent !important;
}

.Bed-icon {
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 99px;
  margin-right: 5px;
}

.Bath-icon {
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 99px;
  margin-right: 5px;
}

.Sqft-icon {
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 99px;
  margin-right: 5px;
}

.Beds {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.Baths {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.Sqft {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.Stats-h4 {
  font-size: 18px;
}

.Info-cta {
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
}

.Description {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  flex-direction: column;
  height: 135px;
  overflow: scroll;
}

.Description-h5 {
  font-size: 15px;
}

.change-style-button {
  bottom: 180px !important;
}

.tag-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 450px;
  overflow: auto;
}

.homestyle-tag {
  width: 100%;
  padding: 17px;
  background-color: rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
  text-shadow: 1px 2px rgb(48, 48, 48);
}

.tag {
  margin-bottom: 0;
}

.close-button {
  position: absolute;
  top: -40px;
  right: 10px;
}

.modal-wrapper {
  display: flex;
  width: 100vw;
  height: calc(100vh - 45px);
  position: absolute;
  background-color: #c7c7c7;
  z-index: 10;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.modal-image {
  width: 100vw;
  height: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

button.view-button {
  width: 8vw;
  height: 8vw;
  opacity: 0.4;
  border-radius: 50px;
  position: absolute;
  top: 60px;
  right: 17px;
  z-index: 10;
  border: none;
}